---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets"
import inabitaPortrait from "../assets/inabita_portrait_wide.jpg"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
---

<Layout title="Inabita - un laboratorio di ricerca e progettazione sulla rigenerazione territoriale.">
  <main>
    <Header activeNav="chi-siamo" />
    <h1 class="mt-8 text-4xl sm:text-5xl font-semibold tracking-tighter">Chi siamo</h1>
    <div class="mx-auto mt-2 sm:mt-4 text-lg sm:text-xl">
      <p>
        Inabita è un centro di ricerca sulle sfide ambientali, sociali e culturali delle aree interne, immaginando e attuando la loro trasformazione attraverso pratiche collettive di ricerca-azione.
        Siamo una rete orizzontale di ricercatori, pianificatori, architetti, scienziati ambientali, che operano attraverso un approccio integrato e partecipativo.<br><br>
        Inabita è più della somma delle sue parti. È un gruppo unito dal condiviso interesse per il comune, inteso come tutto ciò che amalgama le parti nel loro tutto. Il territorio, la sua lingua, la sua cucina, la sua cultura. Inabita sperimenta nell’amalgama di cui si sente parte, attraverso strumenti come l’indagine riflessiva e la partecipazione, occhi critici, ma allo stesso tempo aperti al nuovo e al lontano, corpi mobili, ma legati da rituali di connessione e condivisione.
      </p>

      <div class="mt-8">
        <h3 class="text-xl font-bold">Fulvia Calcagni </h3>
        <p>Fulvia nasce a Roma, vive a Barcellona e, da 6 anni, tutte le estati passa per il maceratese. Ondeggia tra l’umanistico e lo scientifico da quando ne ha memoria. Con un diploma classico e una laurea in ingegneria, ha cercato il suo centro all’intersezione tra società e natura con un dottorato in scienze e tecnologie ambientali finalizzato a carpire il valore soggettivo e situato associato alla natura, specialmente urbana. Si interessa di educazione e sociologia ambientale, e crede che la condivisione salverà il mondo. Collabora con Inabita in progetti di comunità educanti e ricerca paesaggistica.</p>
      </div>

      <div class="mt-8">
        <h3 class="text-xl font-bold">Matteo Giacomelli</h3>
        <p>Matteo è coordinatore del progetto QUI Val di Fiastra e ricercatore in urbanistica al Politecnico di Milano. Nato e cresciuto nell’Alto Maceratese, si forma tra Firenze e Aalborg in consegue una laurea in Ingegneria Ambientale all’Università di Firenze, seguita dal “Joint Master in Environmental studies – Cities and Sustainability” tra Aalborg e Amburgo. Dopo tre anni ad Amburgo nel 2018 rientra nelle Marche per svolgere un dottorato in urbanistica all’Università di Camerino e da presidente dell’associazione collabora all’organizzazione delle due edizioni di Borgofuturo+ 2020 e 2021. In questi anni porta avanti una una ricerca sulle relazioni ecologiche tra aree interne e poli urbani attraverso la lente dei servizi ecosistemici, in collaborazione con il German Centre for Integrative Biodiversity Research (iDiv).</p>
      </div>
      
      
    </div>
  </main>
</Layout>
<Footer showSocialIcons="true"/>
<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
</style>
