---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets"
import aerocenePicture from "../assets/aerocene.jpg"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
---

<Layout title="Inabita - un laboratorio di ricerca e progettazione sulla rigenerazione territoriale.">
  <main>
    <Header activeNav="contatti" />
    <Image src={aerocenePicture} alt="Foto Inabita" class="mt-4 sm:mt-8" />
    <div class="mx-auto mt-4 sm:mt-8 text-xl sm:text-2xl">
      <p><span class="font-bold">Inabita Laboratorio territoriale</span><br/>
        Piazza Umberto Ⅰ 8, Ripe San Ginesio (MC)<br/>
        P. IVA 02092690433<br/>
        <a href="mailto:inabitalab@gmail.com">inabitalab@gmail.com</a><br/>
      </p>
    </div>
  </main>
</Layout>
<Footer showSocialIcons="true"/>
<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
</style>
