---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets"
import homeBlob from "../assets/home_blob.png"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
---

<Layout title="Inabita - un laboratorio di ricerca e progettazione sulla rigenerazione territoriale.">
  <main>
    <Header activeNav="home" />
    <!-- <div class="flex justify-center"></div> -->
    <Image src={homeBlob} alt="Inabita società cooperativa" class="mt-8 sm:mt-16 w-full max-w-lg" />
    <div class="mx-auto mt-8 sm:mt-16 text-lg sm:text-xl">
      <p>Un laboratorio per le sfide ambientali, sociali e culturali delle aree interne, immaginando e attuando la loro trasformazione attraverso pratiche collettive di ricerca-azione.</p>
      <p>Negli ultimi tre anni, Inabita ha collaborato allo sviluppo di un progetto locale nella Val di Fiastra, nelle alte Marche, in collaborazione con <a href="https://borgofuturo.net/progetto-locale/" target="_blank">Borgofuturo</a>.</p>
    </div>

    <div class="mx-auto mt-8 lg:mt-16 text-base lg:text-xl">
      <h3 class="font-bold text-xl lg:text-2xl">Collabora con noi</h3>
      <p>Siamo alla ricerca di un* Project Manager per il progetto <strong>Qui Val di Fiastra.</strong> <br> <a href="/offerta-di-lavoro">Ulteriori dettagli a questa pagina.</a></p>
    </div>
  </main>
</Layout>
<Footer showSocialIcons="true"/>
<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
</style>
