---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets"
import homeBlob from "../assets/home_blob.png"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
---

<Layout title="Inabita - un laboratorio di ricerca e progettazione sulla rigenerazione territoriale.">
  <main>
    <Header activeNav="home" />
    <!-- <div class="flex justify-center"></div> -->
    <Image src={homeBlob} alt="Inabita società cooperativa" class="mt-8 sm:mt-16 w-full max-w-lg" />
    <div class="mx-auto mt-8 sm:mt-16 text-lg sm:text-xl">
      <p>Un laboratorio per le sfide ambientali, sociali e culturali delle aree interne, immaginando e attuando la loro trasformazione attraverso pratiche collettive di ricerca-azione.</p>
      <p>Una rete orizzontale di ricercatori, pianificatrici, architetti, scienziate ambientali, artisti, che operano attraverso un approccio integrato e partecipativo.</p>
      <p>Negli ultimi tre anni, Inabita ha collaborato allo sviluppo di un progetto locale nella Val di Fiastra, nelle alte Marche, in collaborazione con <a href="https://borgofuturo.net/progetto-locale/" target="_blank">Borgofuturo</a>.</p>
    </div>
  </main>
</Layout>
<Footer showSocialIcons="true"/>
<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
</style>
