---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets"
import inabitaPortrait from "../assets/inabita_portrait_wide.jpg"
import inabitaLogo from "../assets/inabita_logo.svg"
---

<Layout title="Inabita - un laboratorio di ricerca e progettazione sulla rigenerazione territoriale.">
  <main>
    <div class="">
      <Image src={inabitaLogo} alt="Logo Inabita" class="w-60 lg:w-72 mt-8 lg:mt-12 lg:mx-auto" />
      <p class="w-60 lg:w-auto lg:mx-auto lg:text-center mt-3 text-base lg:text-lg leading-4">un laboratorio di ricerca e progettazione sulla rigenerazione territoriale</p>
    </div>
    
    <Image src={inabitaPortrait} alt="Foto Inabita" class="mt-8" />
    <div class="mx-auto mt-12 lg:text-2xl">
      <p>Un laboratorio per le sfide ambientali, sociali e culturali delle aree interne, immaginando e attuando la loro trasformazione attraverso pratiche collettive di ricerca-azione.</p><br>
      <p>Una rete orizzontale di ricercatori, pianificatori, architetti, scienziati ambientali, che operano attraverso un approccio integrato e partecipativo.</p><br>
      <p>Negli ultimi tre anni, Inabita ha collaborato allo sviluppo di un progetto locale nella Val di Fiastra, nelle alte Marche, in collaborazione con <a href="https://borgofuturo.net/progetto-locale/" target="_blank">Borgofuturo</a>.</p>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
  }
</style>
