---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets"
import inabitaPortrait from "../assets/inabita_portrait_wide.jpg"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
---

<Layout title="Inabita - un laboratorio di ricerca e progettazione sulla rigenerazione territoriale.">
  <main>
    <Header activeNav="manifesto" />
    <h1 class="mt-8 text-4xl sm:text-5xl font-semibold tracking-tighter">Manifesto</h1>
    <div class="mx-auto mt-2 sm:mt-4 text-lg sm:text-xl">
      <p>
        Inabita è un laboratorio multidisciplinare che opera secondo una serie di princìpi:
        <ul class="list-disc list-none list-inside">
          <li><span class="text-xl sm:text-2xl font-bold">Futuro remoto</span><br>proponendosi di guardare avanti, ma con un'attenzione al passato e alle cause costitutive del presente.</li>
          <li class="mt-4"><span class="text-xl sm:text-2xl font-bold">Qualità della vita</span><br>traducendo concetti di altre latitudini come il <span class="italic">Buen vivir</span> e <span class="italic">Ubuntu</span>, o altre epoche storiche, come <span class="italic">Eudaimonia</span>, al contesto europeo e contemporaneo in cui si muove. </li>
          <li class="mt-4"><span class="text-xl sm:text-2xl font-bold">Condivisione</span><br>garantendo un respiro collettivo e conviviale al suo operato.</li>
          <li class="mt-4"><span class="text-xl sm:text-2xl font-bold">Sostenibilità</span><br>navigando l'incertezza di tempi complessi e in cambiamento, punta ad essere un agente trasformativo nel rispetto di princìpi di precauzione e prevenzione.</li>
          <li class="mt-4"><span class="text-xl sm:text-2xl font-bold">Giustizia socio-ambientale</span><br>in stretta connessione con il precedente, garantendo equità nell'accesso ai benefici socio-ambientali veicolati dal suo operato.</li>
        </ul>
      </p>
      <br>
      <p>
        Inabita opera nel <span class="font-bold">sistema socio-ecologico del paesaggio</span>, comprendente sia gli elementi e i processi bio-fisici del territorio corrispondente, che le accezioni storico-culturali delle comunità che lo abitano. In tale ambito, innesca processi trasformativi secondo approcci <span class="font-bold">sperimentali, sistemici e partecipativi</span>, votati a stimolare la <span class="font-bold">creatività, l'inclusione e la relazionalità</span> tramite pratiche di <span class="font-bold">cura, collaborazione, ascolto e osservazione</span>.
      </p>
      <p>Tali approcci guidano a loro volta l'ideazione e la realizzazione di progetti di <span class="font-bold">rigenerazione, valorizzazione e recupero</span> territoriale e culturale, nonché l'organizzazione di attività di <span class="font-bold">educazione, facilitazione e divulgazione</span>.</p>
    </div>
  </main>
</Layout>
<Footer showSocialIcons="true"/>
<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
</style>
