---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets"
import inabitaPortrait from "../assets/inabita_portrait_wide.jpg"
import inabitaLogo from "../assets/inabita_logo.svg"
import Footer from "../components/Footer.astro"
import Navigation from "../components/Navigation.astro"
import Header from "../components/Header.astro"
---

<Layout title="Inabita - un laboratorio di ricerca e progettazione sulla rigenerazione territoriale.">
  <main>
    <Header activeNav="news" />
    <h1 class="mt-8 text-7xl font-bold">News</h1>
    <div class="mx-auto mt-12 sm:text-2xl">
      <div class="text-xl sm:text-2xl">
        <span class="text-base sm:text-lg text-gray-500"><time datetime="2023-12-02">2 Dicembre 2023</time></span>
        <p class="font-bold">Che cos'è l'architettura sostenibile e quali sono le sue caratteristiche principali?</p>
        <p>Nel settore dell'architettura e delle costruzioni, sono state prese misure per ridurre l'impatto ambientale degli edifici, cercando modi per ridurre le emissioni di gas serra, il consumo di energia e l'uso improprio delle...</p>
        <p>Leggi tutto</p>
      </div>
    </div>

    <div class="mx-auto mt-12 sm:text-2xl">
      <div class="text-xl sm:text-2xl">
        <span class="text-base sm:text-lg text-gray-500"><time datetime="2023-11-30">30 Novembre 2023</time></span>
        <p class="font-bold">Cop28, Giorgia Meloni: “Transizione solo se non costerà troppo all'economia”</p>
        <p>Dopo il primo intervento nel corso del quale si è concentrata unicamente sulla questione della sovranità alimentare e dell'accesso al cibo, la presidente del Consiglio Giorgia Meloni ha preso...</p>
        <p>Leggi tutto</p>
      </div>
    </div>

    <div class="mx-auto mt-12 sm:text-2xl">
      <div class="text-xl sm:text-2xl">
        <span class="text-base sm:text-lg text-gray-500"><time datetime="2023-12-02">11 Ottobre 2023</time></span>
        <p class="font-bold">Case green in Italia: cosa chiede l'UE</p>
        <p>La normativa sulle case green è stata votata dall’Europarlamento a metà marzo. Non si tratta di una misura improvvisa: da almeno 15 anni a Bruxelles si programmano delle iniziative per migliorare l’efficienza energetica degli edifici in modo progressivo e obbligatorio...</p>
        <p>Leggi tutto</p>
      </div>
    </div>

  </main>
</Layout>
<Footer showSocialIcons="true"/>
<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
</style>
