---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets"
import inabitaPortrait from "../assets/inabita_portrait_wide.jpg"
import inabitaLogo from "../assets/inabita_logo.svg"
import Footer from "../components/Footer.astro"
import Navigation from "../components/Navigation.astro"
import Header from "../components/Header.astro"
---

<Layout title="Inabita - un laboratorio di ricerca e progettazione sulla rigenerazione territoriale.">
  <main>
    <Header activeNav="news" />
    <h1 class="mt-8 text-7xl font-bold">News</h1>
    <div class="mx-auto mt-12 lg:text-2xl">
      <p>Un laboratorio per le sfide ambientali, sociali e culturali delle aree interne, immaginando e attuando la loro trasformazione attraverso pratiche collettive di ricerca-azione.</p>
      <p>Una rete orizzontale di ricercatori, pianificatori, architetti, scienziati ambientali, che operano attraverso un approccio integrato e partecipativo.</p>
      <p>Negli ultimi tre anni, Inabita ha collaborato allo sviluppo di un progetto locale nella Val di Fiastra, nelle alte Marche, in collaborazione con <a href="https://borgofuturo.net/progetto-locale/" target="_blank">Borgofuturo</a>.</p>
    </div>
  </main>
</Layout>
<Footer showSocialIcons="true"/>
<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
</style>
