---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets"
import projectManagerJobOfferImage from "../assets/offerta-di-lavoro-project-manager.png"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
---

<Layout title="Inabita - un laboratorio di ricerca e progettazione sulla rigenerazione territoriale.">
  <main>
    <Header activeNav="nope" />

    <div class="mx-auto mt-8 lg:mt-16 text-base lg:text-xl">
      <h1 class="font-bold text-xl lg:text-2xl">Collabora con noi</h1>
      <h3 class="font-bold text-lg lg:text-xl">Posizione Aperta: Project Manager Qui Val di Fiastra</h3>

      <Image src={projectManagerJobOfferImage} alt="Offerta di lavoro per Project Manager"
        class="my-2 sm:mt-4 mr-8 float-left sm:w-80 max-w-lg" style="max-width: 100%;" />

      <br>
      <p>La Società Cooperativa Inabita è alla ricerca di un* Project Manager per il <strong>progetto Qui Val di Fiastra</strong>, finanziato dal PNRR attraverso la linea B del Bando Borghi per i Comuni di Ripe San Ginesio, Colmurano, Loro Piceno e finalizzato alla riattivazione culturale, sociale ed economica della Val di Fiastra, nelle Marche. Il progetto si struttura in 15 interventi e coinvolge più di 30 partner locali e non (maggiori info al sito <a href="https://www.quivaldifiastra.com" target="_blank">https://www.quivaldifiastra.com</a>). </p>
      <p>Come ente coordinatore di progetto Inabita ha attivato un <strong>gruppo di lavoro</strong> composto di professionist* in vari settori, dalla ricerca in campo ambientale, all’architettura e urbanistica, dall’ingegneria ambientale e delle comunicazioni alle produzioni artistiche e culturali. Il/La <strong>Project Manager</strong> sarà attivo/a in una serie di attività di supporto agli uffici amministrativi del Comune capofila di Ripe San Ginesio, nonché alla gestione delle scadenze e comunicazione interna di progetto.</p>

      <p>
        <strong>Posizione:</strong> Project Manager <br>
        <strong>Tipo di Contratto:</strong> Collaborazione Autonoma <br>
        <strong>Partenza</strong> da 01 Marzo 2025
      </p>

      <p><strong>Orario e luogo di Lavoro:</strong> 16 ore totali, organizzabili in 4 mezze giornate con una presenza del 50% a Ripe San Ginesio presso il coworking o gli uffici comunali</p>

      <p>
        <strong>Durata Contratto:</strong> 14 mesi, con possibilità di integrazione oraria dopo Giugno 2025 <br>
        <strong>Periodo affiancamento:</strong> è previsto un periodo di affiancamento di 3 mesi (Marzo - Giugno 2025)
      </p>

      <p><strong>Retribuzione:</strong> €900 Euro/mese lordi (al netto di IVA)</p>


      <p><strong>Descrizione del Ruolo:</strong> responsabilità della gestione del Progetto QUI Val di Fiastra, in collaborazione con il gruppo di coordinamento Inabita e gli Uffici comunali, attraverso una serie di attività:</p>
      <ul class="list-disc list-inside" style="padding-left: 20px">
        <li><strong>Supporto Amministrativo</strong> | Supporto al Comune capofila per il lavoro su capitolati e assegnazione degli incarichi ai partner di progetto. Per questa attività, il/la Project Manager sarà affiancato/a inizialmente dal Coordinatore di progetto e dalla Project Manager attualmente incaricata.</li>
        <li><strong>Gestione comunicazione interna</strong> | Organizzazione e conduzione di riunioni settimanali con il gruppo di lavoro per garantire un coordinamento efficace e la trasmissione di informazioni cruciali.</li>
        <li><strong>Gestione delle Scadenze</strong> | Monitoraggio e gestione delle scadenze dei 15 interventi, garantendo che tutte le attività siano eseguite in coerenza al cronoprogramma.</li>
        <li><strong>Supporto alla Rendicontazione</strong> | Coordinamento con il gruppo di coordinamento di progetto per la preparazione e revisione di rendiconti tecnici delle attività.</li>
        <li><strong>Supporto Logistico</strong> | Supporto logistico e amministrativo alle attività di progetto, assicurando un flusso di lavoro efficiente e la risoluzione di eventuali questioni operative. </li>
      </ul>

      <br>

      <p><strong>Chiediamo:</strong></p>
      <ul class="list-disc list-inside" style="padding-left: 20px">
        <li><strong>Esperienza nella gestione di progetti con finanziamento pubblico.</strong> L’eventuale esperienza previa nella redazione di capitolati e nel supporto amministrativo a Comuni nella rendicontazione di un progetto PNRR sarà valutata positivamente.</li>
        <li><strong>Capacità di dialogare in modo proattivo con i tecnici comunali</strong> riguardo i procedimenti amministrativi. </li>
        <li><strong>Abilità nel monitorare e gestire attentamente le scadenze dei progetti</strong>, con competenze avanzate nella gestione di risorse, coordinamento di team e supervisione delle fasi del progetto.</li>
        <li><strong>Abilità di comunicazione e capacità di collaborare con stakeholder</strong> e associazioni locali coinvolte nel progetto. </li>
        <li><strong>Flessibilità</strong> per affrontare eventuali emergenze e difficoltà di progetto </li>
      </ul>

      <br>

      <p><strong>Offriamo:</strong></p>
      <ul class="list-disc list-inside" style="padding-left: 20px">
        <li><strong>Ambiente di lavoro collaborativo.</strong> Apprendimento mutuo e supporto reciproco tra i componenti del Gruppo di Coordinamento</li>
        <li><strong>Laboratorio aperto.</strong> Apertura a collaborazione su nuove idee progettuali </li>
        <li><strong>Gruppo esperto multidisciplinare.</strong> Possibilità di collaborare con un gruppo di lavoro composto da professionisti/e e ricercatori/ici esperti in vari settori</li>
        <li><strong>Postazione di lavoro a Ripe San Ginesio.</strong> Offriamo una postazione di lavoro in uno spazio co-working condiviso</li>
      </ul>

      <br>

      <p>
        <strong>Le candidature sono aperte fino alla mezzanotte di Domenica 09/02/2025.</strong><br>
        Per partecipare, compila il modulo <a href="https://forms.gle/x96vpCvb9i4xZ96B6" target="_blank">a questo link</a> e invialo con il tuo cv a <a href="mailto:inabitalab@gmail.com">inabitalab@gmail.com</a>.
      </p>
    </div>
  </main>
</Layout>
<Footer showSocialIcons="true"/>
<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
</style>
