---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Inabita - un laboratorio di ricerca e progettazione sulla rigenerazione territoriale.">
  <main>
    <Header activeNav="servizi" />
    <h1 class="mt-8 sm:mt-16 text-4xl sm:text-5xl font-semibold tracking-tighter">Servizi</h1>
    <div class="mx-auto mt-2 sm:mt-8 text-lg sm:text-xl">
      <p>Inabita affianca attività di ricerca e progettazione a interventi di implementazione sul campo, ai fini di supportare le amministrazioni nello sviluppo di strategie territoriali, facilitando il dialogo tra società civile e pubblica amministrazione e creando sinergie tra scienza e politica territoriale.<br><br>

        I servizi offerti mirano alla consulenza tecnica e supporto scientifico per la progettazione di strategie e piani di rigenerazione territoriale.
         In tal senso, Inabita offre una serie di servizi quali sviluppo e coordinamento di progetti, facilitazione di processi partecipati, divulgazione scientifica, attività di valorizzazione territoriale.</p><br>

      <p><span class="text-2xl font-bold">Ricerca</span>
        <ul class="list-disc list-inside">
          <li>Ricerca scientifica e sperimentazione</li>
          <li>Partecipazione e scrittura di progetti di ricerca nazionali e internazionali</li>
          <li>Sviluppo di progetti di citizen science e divulgazione scientifica</li>
          <li>Attività di science-policy interface</li>
        </ul>
      </p>
      <p class="text-base mt-2"><span class="font-bold">Progetti attivi:</span> Osservatorio del Paesaggio; Educare al patrimonio; Ecosistema digitale</p>



      <p class="mt-8"><span class="text-2xl font-bold">Pianificazione territoriale</span>
        <ul class="list-disc list-inside">
          <li>Sviluppo di strategie, piani territoriali e paesaggistici, e strumenti di governo del territorio</li>
          <li>Consulenza tecnica allo sviluppo e coordinamento di progetti</li>
          <li>Progettazione tecnica e infrastrutturale</li>
          <li>Progettazione di design urbano</li>
        </ul>
      </p>
      <p class="text-base mt-2"><span class="font-bold">Progetti attivi:</span> Osservatorio del Paesaggio</p>



      <p class="mt-8"><span class="text-2xl font-bold">Promozione culturale e formazione</span>
        <ul class="list-disc list-inside">
          <li>Promozione culturale e produzione in ambito artistico</li>
          <li>Sviluppo progetti curatoriali e pubblicazioni</li>
          <li>Organizzazione di attività ed eventi di valorizzazione territoriale</li>
          <li>Attività di formazione e collaborazioni con istituti scolastici e universitari</li>
        </ul>
      </p>
      <p class="text-base mt-2"><span class="font-bold">Progetti attivi:</span> Unità mobile Errante; Educare al territorio; Ecosistema digitale</p>

    </div>
  </main>
</Layout>
<Footer showSocialIcons="true"/>
<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
</style>
