---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Inabita - un laboratorio di ricerca e progettazione sulla rigenerazione territoriale.">
  <main>
    <Header activeNav="servizi" />
    <h1 class="mt-8 text-4xl sm:text-5xl font-semibold tracking-tighter">Servizi</h1>
    <div class="mx-auto mt-2 sm:mt-4 text-lg sm:text-xl">
      <p>Inabita affianca attività di ricerca e progettazione a interventi di implementazione sul campo, ai fini di supportare le amministrazioni nello sviluppo di strategie territoriali, facilitando il dialogo tra società civile e pubblica amministrazione e creando sinergie tra scienza e politica territoriale.<br><br>I servizi offerti mirano alla consulenza tecnica e supporto scientifico per la progettazione di strategie e piani di rigenerazione territoriale. <br>In tal senso, Inabita offre una serie di servizi quali sviluppo e coordinamento di progetti, facilitazione di processi partecipati, divulgazione scientifica, attività di valorizzazione territoriale.</p>

      <p><span class="text-2xl font-bold">Ricerca e sviluppo</span>
        <ul class="list-disc list-inside">
          <li>ricerca scientifica</li>
          <li>sperimentazione attraverso azioni concrete di qualsiasi natura</li>
          <li>partecipazione a progetti di ricerca nazionali e internazionali</li>
          <li>sviluppo di progetti di citizen science</li>
        </ul>
      </p>
      <p class="mt-8"><span class="text-2xl font-bold">Pianificazione e progettazione territoriale</span>
        <ul class="list-disc list-inside">
          <li>sviluppo di strategie, piani territoriali e paesaggistici, e strumenti di governo del territorio</li>
          <li>supporto alla definizione di politiche territoriali</li>
          <li>progettazione tecnica e infrastrutturale</li>
          <li>progettazione di design urbano</li>
        </ul>
      </p>
      <p class="mt-8"><span class="text-2xl font-bold">Consulenza a P.A. ed enti privati</span>
        <ul class="list-disc list-inside">
          <li>consulenza tecnica allo sviluppo e coordinamento di progetti</li>
          <li>consulenza scientifica diretti ad amministrazioni pubbliche</li>
          <li>attività di science-policy interface</li>
        </ul>
      </p>
      <p class="mt-8"><span class="text-2xl font-bold">Facilitazione e Partecipazione</span>
        <ul class="list-disc list-inside">
          <li>facilitazione di processi legati a enti territoriali, soggetti pubblici/privati e comunità locali</li>
          <li>organizzazione di processi partecipati</li>
          <li>facilitazione di dibattiti pubblici</li>
        </ul>
      </p>
      <p class="mt-8"><span class="text-2xl font-bold">Comunicazione e divulgazione</span>
        <ul class="list-disc list-inside">
          <li>attività di comunicazione e disseminazione</li>
          <li>attività di divulgazione scientifica e pubblicazione accademica</li>
          <li>creazione di contenuti digitali a supporto della comunicazione</li>
          <li>organizzazione e partecipazione a seminari e convegni</li>
        </ul>
      </p>
      <p class="mt-8"><span class="text-2xl font-bold">Formazione</span>
        <ul class="list-disc list-inside">
          <li>organizzazione di corsi di formazione</li>
          <li>organizzazione di attività in collaborazione con istituti scolastici e universitari</li>
          <li>organizzazione di attività di formazione non formale</li>
        </ul>
      </p>
      <p class="mt-8"><span class="text-2xl font-bold">Produzione e promozione culturale</span>
        <ul class="list-disc list-inside">
          <li>organizzazione di eventi legati alla promozione culturale</li>
          <li>produzione in ambito artistico</li>
          <li>sviluppo progetti curatoriali e pubblicazioni per strutture museali o enti privati</li>
          <li>organizzazione di attività ed eventi di valorizzazione territoriale</li>
        </ul>
      </p>
    </div>
  </main>
</Layout>
<Footer showSocialIcons="true"/>
<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
</style>
