---
import { Image } from "astro:assets"
import inabitaLogoSmall from "../assets/inabita_logo_small.png"
import SocialIcons from "./SocialIcons.astro"

const { showSocialIcons } = Astro.props;
---

<div class="mx-auto mt-16 mb-8 text-center text-sm lg:text-base">
  <Image src={inabitaLogoSmall} alt="Logo Inabita" class="w-14 lg:w-20 mt-8 mx-auto" />
  <p class="mt-4">Inabita Laboratorio territoriale<br>Piazza Umberto Ⅰ 8, Ripe San Ginesio (MC)<br>P. IVA 02092690433<br><a href="mailto:inabitalab@gmail.com">inabitalab@gmail.com</a></p>
  
  {showSocialIcons && <SocialIcons />}
</div>