---
import { Image } from "astro:assets"
import inabitaLogo from "../assets/inabita_logo.svg"
import Navigation from "../components/Navigation.astro"
const { activeNav } = Astro.props;
---

<div class="mt-4 lg:mt-12 flex flex-row">
  <div class="grow">
    <a href="/"><Image src={inabitaLogo} alt="Logo Inabita" class="w-40 lg:w-48" /></a>
  </div>
  <Navigation activeNav={activeNav} />
</div>
<p class="w-[18rem] lg:w-[22rem] mt-1 text-xs sm:text-base leading-3 sm:leading-5">
  laboratorio di ricerca e progettazione sulla rigenerazione territoriale
</p>